Django
asgiref
beautifulsoup4
da-vinci
django-appconf
django-bootstrap4
django-crispy-forms
django-imagekit
django-thumbnails
easy-thumbnails
fontawesomefree
pilkit
Pillow
pip
setuptools
shortuuid
six
soupsieve
sqlparse
tzdata
