

{% extends 'base.html' %}

{% block title %}О сайте{% endblock %}

{% block content %}

<div class="container py-5" style="font-family: 'Open Sans', sans-serif;">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center" >
            <h2 class="mb-4" style="font-size: 3rem; font-weight: 700; margin-bottom: 2rem;">О моем сайте</h2>
            <p class="lead mb-0" style="font-size: 1.5rem; line-height: 2.5rem; margin-bottom: 2rem;">Добро пожаловать на мой сайт! Здесь вы найдете разнообразные и не совсем обычные рецепты. Например, тут можно найти: салата из элементов периодической таблицы, смузи из фтора, десерта из серебра и т.д. Каждый рецепт будет фотографией(либо какой-то подходящей илюстрацией) и краткой информацией о свойствах элемента(ов), участвующих в данном кулинарном шедевре. Данный проект может заинтересовать не только любителей кулинарии, но и школьников, которые учатся химии. Так же рецепты могут использоваться как дополнительный материал для изучения химических элементов, их свойств и применений.</p>
        </div>
    </div>
</div>
<div class="container py-5" style="font-family: 'Open Sans', sans-serif;">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <p class="lead mb-0" style="font-size: 1.5rem; line-height: 2.5rem; margin-bottom: 2rem;">Меня зовут Полина Кивгазова, и я создала этот сайт для привлечения интереса к химии.</p>
            <ul class="list-unstyled mt-4" style="font-size: 1.25rem; line-height: 2rem;">
                <li>Email: polina.kivgazova@gmail.com</li>
                <li>VK: <a href="https://vk.com/id382302667">Полина Кивгазова</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
{% endblock %}