{% extends 'base.html' %}

{% block title %}
{{ recipe.name }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto" style="margin-top: 20px; padding: 20px; max-width: 1000px; background: linear-gradient(to bottom, rgba(180, 214, 163, 0.6), rgba(206, 235, 66, 0.5)); border-radius: 10px; text-align: center;">
        <div class="card">
            <div style="display: flex; justify-content: center; background: linear-gradient(to bottom, rgba(180, 214, 163, 0.6), rgba(206, 235, 66, 0.5));" ">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="card-img-top" style="width: 500px; height: 500px; object-position: center center; object-fit: cover; border-radius: 10px; ">
            </div>
            <div style="margin-top: 5px; border-top: 1px solid rgba(206, 235, 66, 1);">
                <div class="card-body text-center">
                    <h1 class="card-title">{{ recipe.name }}</h1>
                    {% if request.user.is_authenticated %}
                    <div style="margin-top: 10px; border-top: 1px solid rgba(206, 235, 66, 1);"> </div>
                    <div class="d-flex justify-content-center" style="margin-top: 10px;">
                        <div class="btn-group" role="group">
                            {% if favorite_exists %}
                            <button class="btn btn-danger" id="remove-favorite-btn" data-recipe-id="{{ recipe.id }}">Удалить из избранного <i class="fas fa-heart"></i></button>
                            {% else %}
                            <button class="btn btn-success" id="add-favorite-btn" data-recipe-id="{{ recipe.id }}">Добавить в избранное <i class="fas fa-heart"></i></button>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div style="margin-top: 10px; border-top: 1px solid rgba(206, 235, 66, 1);"> </div>
                    <h5 class="card-subtitle mb-2 text-muted">Ингредиенты:</h5>
                    <p class="card-text">{{ recipe.ingredients|linebreaks }}</p>
                    <div style="margin-top: 10px; border-top: 1px solid rgba(206, 235, 66, 1);"> </div>
                    <h5 class="card-subtitle mb-2 text-muted">Инструкции:</h5>
                    <p class="card-text">{{ recipe.instructions|linebreaks }}</p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>


  $(document).ready(function() {
      $('#add-favorite-btn, #remove-favorite-btn').on('click', function () {
      var btn = $(this);
      var recipe_id = btn.attr('data-recipe-id');
      var url = '{% url "add_or_remove_favorite" %}';
      var csrf_token = '{{ csrf_token }}';
      $.ajax({
        url: url,
        type: 'POST',
        data: {'recipe_id': recipe_id, 'csrfmiddlewaretoken': csrf_token},
        dataType: 'json',
        success: function(data) {
          if (data.status == 'success') {
            if (data.action == 'added') {
              btn.removeClass('btn-success').addClass('btn-danger').attr('id', 'remove-favorite-btn').html('Удалить из избранного <i class="fas fa-heart"></i>');
            } else if (data.action == 'removed') {
              btn.removeClass('btn-danger').addClass('btn-success').attr('id', 'add-favorite-btn').html('Добавить в избранное <i class="fas fa-heart"></i>');
            }
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        }
      });
    });
  });
</script>
{% endblock %}
